APP_ENV=docker

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=us-east-1

# Lakehouse layers
RAW_PREFIX=raw
BRONZE_PREFIX=bronze
SILVER_PREFIX=silver
MART_PREFIX=marts
LAKEHOUSE_BUCKET=lakehouse

# S3 / MinIO access
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=adminadmin
S3_ADDRESSING_STYLE=path
S3_TABLE_SCHEME=s3a

# Hive Metastore
HIVE_METASTORE_URI=thrift://hive-metastore:9083

# Trino
TRINO_HOST=trino
TRINO_PORT=8080
TRINO_CATALOG=iceberg
TRINO_SCHEMA=default
TRINO_HTTP_SCHEME=http
TRINO_COORDINATOR=http://trino:8080

# BI agent
OPENAI_API_KEY=sk-placeholder
WREN_AI_ENDPOINT=http://wren-ui:3000
WREN_UI_PORT=3000
WREN_AI_SERVICE_PORT=5555
AI_SERVICE_FORWARD_PORT=5555
IBIS_SERVER_PORT=8000
WREN_ENGINE_PORT=8080
WREN_ENGINE_SQL_PORT=7432
WREN_PRODUCT_VERSION=0.29.1
WREN_ENGINE_VERSION=0.22.0
WREN_AI_SERVICE_VERSION=0.29.0
IBIS_SERVER_VERSION=0.22.0
WREN_UI_VERSION=0.32.2
WREN_BOOTSTRAP_VERSION=0.1.5
WREN_PLATFORM=linux/amd64
HOST_PORT=3000
EXPERIMENTAL_ENGINE_RUST_VERSION=false
